# Importing modules

In [46]:
import re
import spacy
import requests
import warnings
import pandas as pd
from bs4 import BeautifulSoup
warnings.filterwarnings('ignore')

# Importing datasets

In [17]:
jobs_list = pd.read_csv("C:/Users/afari/Desktop/python2024/datacleaning/new_scrape.csv")

In [18]:
jobs_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3253 entries, 0 to 3252
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   job_title         3253 non-null   object
 1   job_detail_url    3253 non-null   object
 2   job_listed        3253 non-null   object
 3   company_name      3253 non-null   object
 4   company_link      3253 non-null   object
 5   company_location  3253 non-null   object
dtypes: object(6)
memory usage: 152.6+ KB

In [19]:
job_details = pd.read_csv("C:/Users/afari/Desktop/python2024/datacleaning/new_scrape_details.csv")

In [20]:
job_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2709 entries, 0 to 2708
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   job_details      2709 non-null   object
 1   seniority_level  2709 non-null   object
 2   employment_type  2709 non-null   object
 3   job_function     2709 non-null   object
 4   industry         2709 non-null   object
 5   source_url       2709 non-null   object
dtypes: object(6)
memory usage: 127.1+ KB

# Merging datasets and droping duplicates

In [21]:
job = jobs_list.merge(job_details, how= "right", left_on="job_detail_url", right_on="source_url")

In [22]:
jobs = job.drop_duplicates()

In [23]:
jobs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2696 entries, 0 to 2708
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   job_title         2696 non-null   object
 1   job_detail_url    2696 non-null   object
 2   job_listed        2696 non-null   object
 3   company_name      2696 non-null   object
 4   company_link      2696 non-null   object
 5   company_location  2696 non-null   object
 6   job_details       2696 non-null   object
 7   seniority_level   2696 non-null   object
 8   employment_type   2696 non-null   object
 9   job_function      2696 non-null   object
 10  industry          2696 non-null   object
 11  source_url        2696 non-null   object
dtypes: object(12)
memory usage: 273.8+ KB

# Cleaning Columns - company_location

### spliting location into city and region, all jobs are from the same country (United Kingdom)

In [24]:
def locate(df, df_column, new_column, regex):
    df[new_column] = df[df_column].str.extract(regex)
    return df

In [25]:
jobs_with_cities = locate(jobs, "company_location", "company_city" , r'^\s*([^,]*)')

In [26]:
jobs_with_regions = locate(jobs_with_cities, "company_location", "company_region", r'[^,]*,\s*([^,]*)')

# Cleaning Columns - job_details

### job details have html elements in them removing unnecessary values to ensure we have only descriptive text

In [27]:
def remove_tags(text):
    soup = BeautifulSoup(text, 'html.parser')
    return soup.get_text()

In [28]:
jobs_with_regions["job_details"] = jobs_with_regions["job_details"].apply(remove_tags)

# Creating New Features

## Data Transformation - extracting salary information from job details (With Regex)

### extracting salary information from job details

In [29]:
jobs_with_salaries = jobs_with_regions

In [30]:
def find_salary_matches(text):
    pattern = r'£(\d{1,2}(?:,\d{3})*)(\.\d{2})?([kK])?'
    matches = re.findall(pattern, text)
    salary_matches = ["".join(match) for match in matches]
    
    pattern_b = r'(£\d{1,2}K)\1'
    corrected_text = [re.sub(pattern_b, r'\1', salary) for salary in salary_matches]
    
    return corrected_text

In [31]:
jobs_with_salaries['salaries'] = jobs_with_salaries["job_details"].apply(find_salary_matches)

In [33]:
jobs_with_salaries.head(5)

,job_title,job_detail_url,job_listed,company_name,company_link,company_location,job_details,seniority_level,employment_type,job_function,industry,source_url,company_city,company_region,salaries
0,Data Analyst / BI Developer (Contract) - London,https://uk.linkedin.com/jobs/view/data-analyst...,23 hours ago,IT Search and Selection,https://ie.linkedin.com/company/it-search---du...,"London, England, United Kingdom",Data Analyst / BI Developer (Contract) - Lond...,Mid-Senior level,Contract,Information Technology,Data Infrastructure and Analytics and IT Syste...,https://uk.linkedin.com/jobs/view/data-analyst...,London,England,[40]
1,Business Data Analyst,https://uk.linkedin.com/jobs/view/business-dat...,2 weeks ago,Synechron,https://www.linkedin.com/company/synechron?trk...,"London, England, United Kingdom","About us:Synechron is a self-funded, leading ...",Mid-Senior level,Full-time,"Engineering, Consulting, and Information Techn...","Financial Services, Capital Markets, and Insur...",https://uk.linkedin.com/jobs/view/business-dat...,London,England,[]
2,Data Analyst (ex Facebook and Google),https://uk.linkedin.com/jobs/view/data-analyst...,2 hours ago,Oho Group Ltd,https://uk.linkedin.com/company/oho-group-ltd?...,"London, England, United Kingdom",Data Analyst - Fast Growing FinTech (ex Faceb...,Entry level,Full-time,Analyst,Financial Services and Software Development,https://uk.linkedin.com/jobs/view/data-analyst...,London,England,[30]
3,Business Analyst â€“ Data focused â€“ up to Â£...,https://uk.linkedin.com/jobs/view/business-ana...,3 days ago,Saragossa,https://uk.linkedin.com/company/saragossa?trk=...,"London, England, United Kingdom",Join the transformation team of an investment...,Mid-Senior level,Full-time,"Information Technology, Finance, and Project M...","Venture Capital and Private Equity Principals,...",https://uk.linkedin.com/jobs/view/business-ana...,London,England,"[90,000]"
4,Business Data Analyst,https://uk.linkedin.com/jobs/view/business-dat...,2 weeks ago,DGH Recruitment,https://uk.linkedin.com/company/dgh-recruitmen...,"London, England, United Kingdom",IT Data Analyst / Business Data AnalystMy cli...,Mid-Senior level,Full-time,Information Technology,"Legal Services, Data Infrastructure and Analyt...",https://uk.linkedin.com/jobs/view/business-dat...,London,England,[]

In [34]:

cleaned_salary = []

for salary_list in jobs_with_salaries['salaries']:
    modification_needed = False
    modified_list = []

    for salary in salary_list:
        if 'k' in salary.lower() and len(salary) <= 3:
            modification_needed = True
            value_no_k = salary.replace('k', '').replace('K', '')
            new_value = value_no_k + ',000'
            modified_list.append(new_value)
        else:
            modified_list.append(salary)
    if modification_needed:
        cleaned_salary.append(modified_list)
    else:
        cleaned_salary.append(salary_list)

    

jobs_with_salaries['salaries_three'] = cleaned_salary

In [35]:
cleaned_values = []
for salary_list in jobs_with_salaries['salaries_three']:
    filtered_sublist = [item for item in salary_list if len(item) > 4]
    cleaned_values.append(filtered_sublist)


jobs_with_salaries['salaries_four'] = cleaned_values

In [36]:
cleaned_values = []
for salary_list in jobs_with_salaries['salaries_four']:
    filtered_sublist = [item for item in salary_list if len(item) <= 6]
    cleaned_values.append(filtered_sublist)


jobs_with_salaries['salaries_five'] = cleaned_values

In [37]:
cleaned_values = []
for salary_list in jobs_with_salaries['salaries_five']:
    filtered_sublist = salary_list[-2:] if len(salary_list) > 2 else salary_list
    cleaned_values.append(filtered_sublist)

        
jobs_with_salaries['salaries_six'] = cleaned_values

In [38]:
cleaned_salary = []
for salary_list in jobs_with_salaries['salaries_six']:
    modification_needed = False
    modified_list = []
    for salary in salary_list:
        if ',' in salary:
            modification_needed = True
            value_no_comma = salary.replace(',','')
            modified_list.append(value_no_comma)
        else:
            modified_list.append(value_no_comma)

    if modification_needed:
        cleaned_salary.append(modified_list)
    else:
        cleaned_salary.append(salary_list)

jobs_with_salaries['salaries_seven'] = cleaned_salary

In [39]:
jobs_with_salaries['salaries_cleaned'] = [','.join(sublist) for sublist in jobs_with_salaries['salaries_seven']]

In [40]:
jobs_with_salaries[['salary_lower_bound', 'salary_upper_bound']] = jobs_with_salaries['salaries_cleaned'].str.split(',', expand = True)

In [42]:
to_drop = ['salaries', 'salaries_three', 'salaries_four', 'salaries_five', 'salaries_six', 'salaries_seven']

In [43]:
jobs_with_salaries.drop(columns=['salaries', 'salaries_three', 'salaries_four', 'salaries_five', 'salaries_six', 'salaries_seven'],  axis=1, inplace=True)

In [44]:
jobs_with_salaries['salary_lower_bound'] = pd.to_numeric(jobs_with_salaries['salary_lower_bound'], errors='coerce')

In [45]:
jobs_with_salaries['salary_upper_bound'] = pd.to_numeric(jobs_with_salaries['salary_upper_bound'], errors='coerce')

## Data Transformation - extracting tech stack

In [47]:
jobs_with_salaries['job_details'] = [desc.replace('R', 'R Studio') if ' R ' in desc else desc for desc in jobs_with_salaries['job_details']]

In [49]:
tools_with_alternatives = [
    "tableau", "power bi", "qlikview", "qlik sense", "google data studio", "looker",
    "sap businessobjects", "domo", "ibm cognos analytics", "microstrategy", "sisense",
    "yellowfin bi", "plotly", "matplotlib", "seaborn", "bokeh", "d3.js", "pandas",
    "numpy", "scipy", "scikit-learn", "tensorflow", "pytorch", "rapidminer", "matplotlib",
    "seaborn", "ggplot2", "altair", "plotly", "jupyter notebook", "rstudio", "python",
    "sql", "java", "javascript", "scala", "julia", "c/c++", "ruby", "matlab", "sas",
    "shell scripting", "go", "php", "apache hadoop", "apache spark",
    "apache kafka", "apache flink", "apache beam", "airflow", "talend", "informatica",
    "apache nifi", "streamsets", "databricks", "google cloud dataflow", "aws glue",
    "amazon redshift", "google bigquery", "azure sql data warehouse", "amazon s3",
    "google cloud storage", "azure blob storage", "amazon emr", "google dataproc",
    "azure hdinsight", "aws lambda", "google cloud functions", "azure functions",
    "amazon athena", "google bigtable", "azure cosmos db", "amazon dynamodb",
    "google firestore", "azure sql database", "amazon rds", "google cloud sql",
    "azure data factory", "amazon kinesis", "google pub/sub", "azure event hubs",
    "amazon quicksight", "google data studio", "power bi", "looker", "ibm watson studio",
    "databricks", "google colab", "azure notebooks", "excel", "spreadsheet", "microsoft power bi", "dbt",
    "domo", "powerbi", "dax", "mysql",  'power automate', 'power query', 'bigquery', 'tableau', 'tableau prep',
    'ms azure', "aws glue", "aws redshift", "t-sql", "microsoft azure", "snowflake", "dax", "aws athena", "alteryx",
    "bigquery", "google cloud platform", "gcp" , "microsoft azure", "bash", "r studio",
    'excel', 'looker', 'powerbi', 'tableau', 'qlik sense', 'qlik view','pyplot','plotly','seaborn', 'matplotlib', 'alteryx',
    'python', 'openrefine', 'alteryx designer', 'dataiku', 'dax',' m ', 'dbt',
    'jupyter', 'pandas', 'numpy', 'stata', 'google sheets','matlab', 'dplyr', 'vba', 'seaborn', 
    'sqL server', 'microsoft sqL server', 'redshift', 'google bigquery', 'mysql','snowflake', 'access', 'postgres',
    'microsoft azure data lake', 'oracle databases', 'aws rds', 't-sql', 'athena', 'airflow', 'aws glue',
    'jupyter', 'pandas', 'numpy','sagemaker', 'scikit-learn','pytorch','tensorflow', 'selenium',
    'azure', 'aws', 'aws s3', 'aws redshift', 'aws glue','azure data factory', 'microsoft azure data lake', 'azure enterprise data platform',
    's3','aws lambda','aws rds', 'google cloud platform', 'sagemaker','athena', 'powerbi', 'tableau', 'qlik sense', 'qlik view', 'domo', 'data studio'    
]

In [50]:
tools_with_alternatives_unique = list(set(tools_with_alternatives))

In [51]:
tools = []

for desc in jobs_with_salaries['job_details']:
    desc_lower = desc.lower()
    desc_list = []
    
    for item in tools_with_alternatives_unique:
        if item in  desc_lower:
            desc_list.append(item)

    tools.append(desc_list)
        


jobs_with_salaries['tech_stack_analytics'] = tools

# Data Transformation - extracting tech stack (With OpenAI gptAPI)

# Create a list with all tools/ programming languages mentioned present

In [52]:
all_tools = []

for sublist in jobs_with_salaries['tech_stack_analytics']:
    for item in sublist:
        if item not in all_tools:
            all_tools.append(item)
            pass

# Based on mainlist create sublists grouped by data analysis category

In [53]:
data_visualisation_list =['Excel', 'Looker', 'Powerbi', 'Tableau', 'Qlik Sense', 'Qlik View','Pyplot','Plotly','Seaborn', 'Matplotlib', 'Alteryx']

In [54]:
data_cleaning_tranformation_list = ['Python', 'R', 'OpenRefine', 'Sql', 'Excel', 'Alteryx Designer', 'Dataiku', 'Dax','M','R Studio','Dbt']

In [55]:
data_exploration_list = ['Python', 'R', 'Excel', 'Tableau', 'PowerBi', 'Looker', 'Sql', 'Jupyter', 'Pandas', 'Numpy', 'Stata', 'Google Sheets','Matlab', 'R Studio', 'Dplyr', 'Vba', 'Pyplot','Plotly','Seaborn', 'Matplotlib' ]

In [56]:
database_data_management_list = ['SqL Server', 'Microsoft SqL Server', 'Redshift', 'Google Bigquery', 'Mysql','Snowflake', 'Access', 'Postgres', 'Microsoft Azure Data Lake', 'Oracle Databases', 'Aws Rds', 'T-Sql', 'Athena']

In [57]:
data_engineering_list = ['Airflow', 'Aws Glue']

In [58]:
data_science_machine_learning_list = ['Python', 'R','Jupyter', 'Pandas', 'Numpy','Sagemaker', 'Scikit-Learn','Pytorch','Tensorflow']

In [59]:
data_gathering_list = ['Selenium']

In [60]:
cloud_analytics_list = ['Azure', 'Aws', 'Aws S3', 'Aws Redshift', 'Aws Glue','Azure Data Factory', 'Microsoft Azure Data Lake', 'Azure Enterprise Data Platform','S3','Aws Lambda','Aws Rds', 'Google Cloud Platform', 'Sagemaker','Athena']

In [61]:
business_intelligence_list = ['Powerbi', 'Tableau', 'Qlik Sense', 'Qlik View', 'Domo', 'Data Studio']

In [62]:
concepts_list = ['Business Intelligence', 'Bi', 'Data Collection', 'Data Validation', 'Data Quality', 'Data Visualization', 'Data Modelling', 'Data Analysis', 'Data Management', 'Dashboard Development', 'Data Reliability', 'Data Warehouse', 'Data Preparation' ,'Predictive Models','Business Analysis', 'Data Transformation','Maintaining Databases', 'Etl', 'Elt','Database Modelling', 'Machine Learning Algorithms']

# Build table for each category, identifying which jobs require the selected tools

### data_visualisation_entries

In [63]:
data_visualisation_entries = jobs_with_salaries[['company_name', 'job_title', 'job_detail_url','job_details']]

In [64]:
data_visualisation_entries [['Excel', 'Looker', 'Powerbi', 'Tableau', 'Qlik Sense', 'Qlik View','Pyplot','Plotly','Seaborn', 'Matplotlib', 'Alteryx']]=None

In [65]:
for i in data_visualisation_list:
    data_visualisation_entries[i] =  data_visualisation_entries['job_details'].str.lower().apply(lambda description: i.lower() in description)

In [66]:
data_visualisation_entries.to_csv('data_visualisation_entries_new_data.csv',index = False)

### data_cleaning_tranformation

In [67]:
data_cleaning_tranformation = jobs_with_salaries[['company_name', 'job_title', 'job_detail_url','job_details']]

In [68]:
data_cleaning_tranformation [['Python', 'R', 'OpenRefine', 'Sql', 'Excel', 'Alteryx Designer', 'Dax','M','R Studio','Dbt']] = None

In [69]:
for i in data_cleaning_tranformation_list:
    data_cleaning_tranformation[i] =  data_cleaning_tranformation['job_details'].str.lower().apply(lambda description: i.lower() in description)

In [70]:
data_cleaning_tranformation.to_csv('data_cleaning_tranformation_new_data.csv',index = False)

### data_exploration

In [71]:
data_exploration = jobs_with_salaries[['company_name', 'job_title', 'job_detail_url','job_details']]

In [72]:
data_exploration [['Python', 'R', 'Excel', 'Tableau', 'PowerBi', 'Looker', 'Sql', 'Jupyter', 'Pandas', 'Numpy', 'Stata', 'Google Sheets','Matlab', 'R Studio', 'Dplyr', 'Vba', 'Pyplot','Plotly','Seaborn', 'Matplotlib' ]] = None

In [73]:
for i in data_exploration_list:
    data_exploration[i] =  data_exploration['job_details'].str.lower().apply(lambda description: i.lower() in description)

In [74]:
data_exploration.to_csv('data_exploration_new_data.csv',index = False)

### database_data_management

In [76]:
database_data_management = jobs_with_salaries[['company_name', 'job_title', 'job_detail_url','job_details']]

In [77]:
database_data_management [['SqL Server', 'Microsoft SqL Server', 'Redshift', 'Google Bigquery', 'Mysql','Snowflake', 'Access', 'Postgres', 'Microsoft Azure Data Lake', 'Oracle Databases', 'Aws Rds', 'T-Sql', 'Sql', 'Athena']] = None

In [78]:
for i in database_data_management_list:
    database_data_management[i] = database_data_management['job_details'].str.lower().apply(lambda description: i.lower() in description)

In [79]:
database_data_management.to_csv('database_data_management_new_data.csv',index = False)

### data_engineering_list

In [80]:
data_engineering = jobs_with_salaries[['company_name', 'job_title', 'job_detail_url','job_details']]

In [81]:
data_engineering [['Airflow', 'Aws Glue']] = None

In [82]:
for i in data_engineering_list:
    data_engineering[i] = data_engineering['job_details'].str.lower().apply(lambda description: i.lower() in description)

In [83]:
data_engineering.to_csv('data_engineering_new_data.csv',index = False)

### data_science_machine_learning_list

In [84]:
data_science_machine_learning = jobs_with_salaries[['company_name', 'job_title', 'job_detail_url','job_details']]

In [85]:
data_science_machine_learning [['Python', 'R','Jupyter', 'Pandas', 'Numpy','Sagemaker', 'Scikit-Learn','Pytorch','Tensorflow']] = None

In [86]:
for i in data_science_machine_learning_list:
    data_science_machine_learning[i] = data_science_machine_learning['job_details'].str.lower().apply(lambda description: i.lower() in description)

In [87]:
data_science_machine_learning.to_csv('data_science_machine_learning_new_data.csv',index = False)

### data_gathering_list

In [89]:
data_gathering = jobs_with_salaries[['company_name', 'job_title', 'job_detail_url','job_details']]

In [90]:
data_gathering[['Selenium']] = None

In [91]:
for i in data_gathering_list:
    data_gathering[i] = data_gathering['job_details'].str.lower().apply(lambda description: i.lower() in description)

In [92]:
data_gathering.to_csv('data_gathering_new_data.csv',index = False)

### cloud_analytics_list

In [93]:
cloud_analytics = jobs_with_salaries[['company_name', 'job_title', 'job_detail_url','job_details']]

In [94]:
cloud_analytics [['Azure', 'Aws', 'Aws S3', 'Aws Redshift', 'Aws Glue','Azure Data Factory', 'Microsoft Azure Data Lake', 'Azure Enterprise Data Platform','S3','Aws Lambda','Aws Rds', 'Google Cloud Platform', 'Sagemaker','Athena']] = None

In [95]:
for i in cloud_analytics_list:
    cloud_analytics[i] = cloud_analytics['job_details'].str.lower().apply(lambda description: i.lower() in description)

In [96]:
cloud_analytics.to_csv('cloud_analytics_new_data.csv',index = False)

### cloud_analytics_list

In [97]:
business_intelligence = jobs_with_salaries[['company_name', 'job_title', 'job_detail_url','job_details']]

In [98]:
business_intelligence [['Powerbi', 'Tableau', 'Qlik Sense', 'Qlik View', 'Domo', 'Data Studio']] = None

In [99]:
for i in business_intelligence_list:
    business_intelligence[i] = business_intelligence['job_details'].str.lower().apply(lambda description: i.lower() in description)

In [100]:
business_intelligence.to_csv('business_intelligence_new_data.csv',index = False)

### concepts_list

In [101]:
concepts = jobs_with_salaries[['company_name', 'job_title', 'job_detail_url','job_details']]

In [102]:
concepts [['Business Intelligence', 'Bi', 'Data Collection', 'Data Validation', 'Data Quality', 'Data Visualization', 'Data Modelling', 'Data Analysis', 'Data Management', 'Dashboard Development', 'Data Reliability', 'Data Warehouse', 'Data Preparation' ,'Predictive Models','Business Analysis', 'Data Transformation','Maintaining Databases', 'Etl', 'Elt','Database Modelling', 'Machine Learning Algorithms']] = None

In [103]:
for i in concepts_list:
    concepts[i] = concepts['job_details'].str.lower().apply(lambda description: i.lower() in description)

In [104]:
concepts.to_csv('concepts_new_data.csv',index = False)

### Categorizing jobs

In [106]:
job_category =[]

for position in jobs_with_salaries['job_title']:
    position = str(position)
    if 'data' in position.lower() and ('analyst' in position.lower() or 'analysis' in position.lower()) and 'business' not in position.lower():
        job_category.append('Data Analyst')
    elif 'business' and 'data' and 'analyst' in position.lower():
        job_category.append('Business Data Analyst')
    elif 'insight' and 'analyst' in position.lower():
        job_category.append('Insight Analyst')
    elif 'business' and 'intelligence' in position.lower():
        job_category.append('Business Intelligence Analyst')
    elif 'bi' in position.lower():
        job_category.append('Business Intelligence Analyst')
    elif 'data' and 'scientist' in position.lower():
        job_category.append('Data Scientist')
    elif ('data' and 'engineer') in position.lower() or ('engineer') in position.lower():
        job_category.append('Data Engineer')
    elif ('quantitative' or 'quant') in position.lower() and 'analyst' in position.lower():
        job_category.append('Quantitative Analyst')
    elif ('financial' or 'finance') in position.lower() and 'analyst' in position.lower():
        job_category.append('Financial Analyst')
    else:
        job_category.append('Other')


jobs_with_salaries['job_category'] = job_category

In [107]:
jobs_with_salaries = jobs_with_salaries.rename(columns = {'tech_stack_analytics' : 'tech_stack_list'})

# Formatting columns

In [109]:
jobs_with_salaries['company_name'] = jobs_with_salaries['company_name'].str.title()

# Export final dataset

In [110]:
jobs_with_salaries.to_csv('final_jobs_df_new_data.csv', index = False)